body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.product-container {
    display: flex;
}

.product-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 200px;
    margin: 0 10px; /* Add margin between boxes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}
.product-box-2 {
    background-color: #9158e0;
    border: 1px solid #9158e0;
    padding: 20px;
    text-align: center;
    width: 200px;
    margin: 0 10px; /* Add margin between boxes */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    color:white;
}
.product-box:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #333;
}

.price {
    font-size: 18px;
    color: #e44d26; /* Orange color for price */
}

.buy-button {
    display: block;
    background-color: #81dcf7; /* Orange color for button */
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.buy-button:hover {
    background-color: #333;
}
