body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(61, 64, 66);
    margin:0;
    color:white;
}

.dimensions-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

h1{
    color:aliceblue;
    
}

.slider-container {
    text-align: center;
}

input[type="text"], input[type="range"] {
    margin: 5px;
}

.input_container{
    background-color: #81dcf7;
    margin-left:10px;
    width: 1000px;
}

.template{
    height:400px;
    width:1000px;
    background-color:white;
    margin-bottom: 10px;
}
